<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <form class="col s12">
      <div class="input-field col s6">
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname, autocomplete: "off", id: "nickname", type: "text", class: "validate" %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "off", id: "email", type: "email", class: "validate" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autocomplete: "off", id: "first_name", type: "text", class: "validate" %>
        </div>
        <div class="input-field col s6">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autocomplete: "off", id: "last_name", type: "text", class: "validate" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
