<h2>新規会員登録</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="input-field col s3">
      <em>(ニックネーム)</em>
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, autocomplete: "off", id: "nickname", type: "text", class: "validate" %>
    </div>
    <div class="input-field col s4">
      <em>(Eメール)</em>
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "off", id: "email", type: "email", class: "validate" %>
    </div>
    <div class="input-field col s7">
      <em>(パスワード</em>
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="input-field col s7">
      <em>(パスワード確認)</em>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <div class="input-field col s7">
      <em>(姓)</em>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autocomplete: "off", id: "last_name", type: "text", class: "validate" %>
    </div>
    <div class="input-field col s7">
      <em>(名)</em>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autocomplete: "off", id: "first_name", type: "text", class: "validate" %>
    </div>
    <div class="input-field col s6">
      <%= f.submit "新規登録" %>
    </div>
  </div>
<% end %>
