<h4><%= current_user.nickname %>さんの支出合計</h4>
<div class="row">
	<div class="col s12 m6">
		<div class="card blue-grey lighten-5">
			<div class="card-content black-text">
				<span class="card-title">今月の支出合計:¥<%= @expense_sum_price %></span>
			</div>
			<div class="card-action">
				<%= link_to "グラフで見る", "#" %>
			</div>
		</div>
	</div>
</div>

<h4><%= current_user.nickname %>さんの収入合計</h4>
<div class="row">
	<div class="col s12 m6">
		<div class="card blue-grey lighten-5">
			<div class="card-content black-text">
				<span class="card-title">今月の収入合計:¥<%= @income_sum_price %></span>
			</div>
			<div class="card-action">
				<%= link_to "グラフで見る", "#" %>
			</div>
		</div>
	</div>
</div>
<% if @income_sum_price > @expense_sum_price %>
	プラス<%= @total_amount %>
<% else %>
	マイナス<%= @total_amount %>
<% end %>