
<h4><%= current_user.nickname %>さんの支出一覧</h4>
<div class="row">
	<% @expenses.each do |expense| %>
		<div class="col s12 m3">
			<div class="card blue-grey lighten-5">
				<div class="card-content black-text">
					<span class="card-title">登録日:<%= expense.created_at.strftime("%Y年%m月%d日") %></span>
					<span class="card-title">登録者:<%= expense.user.nickname %></span>
					<span class="card-title">費目:<%= expense.expense_item %></span>
					<span class="card-title">金額:¥<%= expense.price %></span>
					<span class="card-title">メモ:<%= expense.memo %></span>
				</div>
				<div class="card-action">
					<%= link_to "編集", edit_expense_path(expense.id) %>
					<%= link_to "削除", expense_path(expense.id), method: :delete %>
				</div>
			</div>
		</div>
	<% end %>
</div>

<h4><%= current_user.nickname %>さんの収入一覧</h4>
<div class="row">
	<% @incomes.each do |income| %>
		<div class="col s12 m3">
			<div class="card blue-grey lighten-5">
				<div class="card-content black-text">
					<span class="card-title">登録日:<%= income.created_at.strftime("%Y年%m月%d日") %></span>
					<span class="card-title">登録者:<%= income.user.nickname %></span>
					<span class="card-title">費目:<%= income.expense_item %></span>
					<span class="card-title">金額:¥<%= income.price %></span>
					<span class="card-title">メモ:<%= income.memo %></span>
				</div>
				<div class="card-action">
					<%= link_to "編集", edit_income_path(income.id) %>
					<%= link_to "削除", income_path(income.id), method: :delete %>
				</div>
			</div>
		</div>
	<% end %>
</div>