<h2>ログイン</h2>

<%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="input-field col s6">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
