<h4><%= @expense.user.nickname %>さん</h4>
<h5><%= @expense.created_at.strftime("%Y年%m月%d日") %>の支出詳細</h5>
<div class="row">
	<div class="col s12 m6">
		<div class="card blue-grey lighten-5">
			<div class="card-content black-text">
				<span class="card-title">登録日:<%= @expense.created_at.strftime("%Y年%m月%d日") %></span>
				<span class="card-title">登録者:<%= @expense.user.nickname %></span>
				<span class="card-title">費目:<%= @expense.expense_item.name %></span>
				<span class="card-title">金額:¥<%= @expense.price %></span>
				<span class="card-title">メモ:<%= @expense.memo %></span>
			</div>
			<div class="card-action">
				<%= link_to "編集", edit_expense_path(@expense.id) %>
				<%= link_to "削除", expense_path(@expense.id), method: :delete %>
			</div>
		</div>
	</div>
</div>